.home-container{
    border: 1px solid black;
    border-radius: 10px;
    height: 600px;
    text-align: center;
    background-color: skyblue;
    margin-left: 1rem;
    margin-right: 1rem;
}

.handsomeboy{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
}

.title-container{
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    background-color: white;
    width: 50rem;
    margin: auto;
    margin-top: 1rem;
}

.text-container{
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    background-color: white;
    width: 50rem;
    margin: auto;
    margin-top: 1rem;
}
