.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    /* background-color: skyblue; */
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(194, 194, 194, 0.356);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
}

/* .input {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(152, 248, 255);
    min-height: 10px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    align-items: center;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
}  */

.calc-btn-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.8%;
}

.btn-number:hover {
    background-color: rgb(206, 186, 71);
}

.btn-operator:hover {
    background-color: rgb(206, 186, 71);
}

.double:hover {
    background-color: rgb(206, 71, 71);
}

.btn-clear:hover {
    background-color: rgb(206, 71, 71);
}

div {
    padding: 10px;
}

/* button {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 1.5rem;
    background-color: rgb(98, 202, 107);
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
} */

.btn-number {
    background-color: rgb(98, 169, 202);
}

.btn-clear {
    background-color: rgb(255, 78, 78);
}

button:hover {
    background-color: rgb(206, 186, 71);
}
